<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- jqGrid组件基础样式包-必要 -->
		<link rel="stylesheet" href="jqgrid/css/ui.jqgrid.css" />
		
		<!-- jqGrid主题包-非必要 --> 
		<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
		<link rel="stylesheet" href="jqgrid/css/redmond/jquery-ui-1.8.16.custom.css" />

		<!-- jquery插件包-必要 -->
		<!-- 这个是所有jquery插件的基础，首先第一个引入 -->
		<script type="text/javascript" src="js/jquery-1.7.1.js"></script>
		
		<!-- jqGrid插件包-必要 -->
		<script type="text/javascript" src="jqgrid/js/jquery.jqGrid.src.js"></script>
		<script type="text/javascript" src="jqgrid/js/jquery.searchFilter.js"></script>
		<!-- jqGrid插件的多语言包-非必要 -->
		<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
		<script type="text/javascript" src="jqgrid/js/i18n/grid.locale-cn.js"></script>

		<title>http://blog.mn886.net/jqGrid</title>
		
		<!-- 本页面初始化用到的js包，创建jqGrid的代码就在里面 -->
		<!--script type="text/javascript" src="js/index.js"></script-->
	</head>
	<body>
		主表：
		<table id="list">
			</table> 
		<div id="gridpager"></div>
		从表：
		<table id="list_d">
			</table> 
		<div id="gridpager_d"></div>
		
		<script type="text/javascript">
			jQuery("#list").jqGrid(
			{
				url : "/comments",
        datatype : "json",//请求数据返回的类型。可选json,xml,txt
				height : "100%",
				colNames : [ '序号', '门店ID', '部门', '类别', '价格带','年份', '月份' ,'计划销量'],//jqGrid的列显示名字
				colModel : [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
				             {name : 'id',index : 'id',width : 55, sorttype:'integer'}, 
				             {name : 'store',index : 'store',width : 90, sorttype:'text'}, 
				             {name : 'gender',index : 'gender asc, invdate',width : 100, sorttype:'text'}, 
				             {name : 'pclass',index : 'pclass',width : 80,align : "right", sorttype:'text'}, 
				             {name : 'price',index : 'price',width : 80,align : "right", sorttype:'integer'}, 
				             {name : 'year',index : 'year',width : 80,align : "right", sorttype:'integer'}, 
				             {name : 'month',index : 'month',width : 150,sorttype:'integer'},
				             {name : 'unit',index : 'unit',width : 150,sorttype:'integer',editable:true} 
				           ],
				rowNum : 10,//一页显示多少条
				rowList : [ 10, 20, 30 ],//可供用户选择一页显示多少条
				pager : '#gridpager',//表格页脚的占位符(一般是div)的id
				loadonce:true,
				sortname : 'id',//初始化的时候排序的字段
				sortorder : 'desc',//排序方式,可选desc,asc
				mtype : "get",//向后台请求数据的ajax的类型。可选post,get
				viewrecords : true,
				caption : "JSON Example",//表格的标题名字
				onSelectRow : function(ids) {
              if (ids == null) {
                ids = 0;
                if (jQuery("#list10_d").jqGrid('getGridParam',
                    'records') > 0) {
                  jQuery("#list_d").jqGrid(
                      'setGridParam',
                      {
                        url : ctx+"/SubGrid?q=1&id="
                            + ids,
                        page : 1
                      });
                  jQuery("#list_d").jqGrid('setCaption',
                      "Invoice Detail: " + ids).trigger(
                      'reloadGrid');
                }
              } else {
                jQuery("#list_d").jqGrid('setGridParam', {
                  url : ctx+"/SubGrid?q=1&id=" + ids,
                  page : 1
                });
                jQuery("#list_d").jqGrid('setCaption',
                    "Invoice Detail: " + ids).trigger(
                    'reloadGrid');
              }
            }
			});
			//创建jqGrid的操作按钮容器
			//可以控制界面上增删改查的按钮是否显示
			jQuery("#list").jqGrid('navGrid','#gridpager',{edit:false,add:true,del:false});
			jQuery("#list_d").jqGrid(
			{
				url : "/comments",
        datatype : "json",//请求数据返回的类型。可选json,xml,txt
				height : "100%",
				colNames : [ '价格带','月份' ,'计划销量'],//jqGrid的列显示名字
				colModel : [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
				             {name : 'price',index : 'price',width : 80,align : "right", sorttype:'integer'}, 
				             {name : 'month',index : 'month',width : 150,sorttype:'integer'},
				             {name : 'unit',index : 'unit',width : 150,sorttype:'integer',editable:true} 
				           ],
				rowNum : 10,//一页显示多少条
				rowList : [ 10, 20, 30 ],//可供用户选择一页显示多少条
				pager : '#gridpager_d',//表格页脚的占位符(一般是div)的id
				loadonce:true,
				sortname : 'id',//初始化的时候排序的字段
				sortorder : 'desc',//排序方式,可选desc,asc
				mtype : "get",//向后台请求数据的ajax的类型。可选post,get
				viewrecords : true,
				caption : "JSON Example",//表格的标题名字
				forceFit : true,
		    cellEdit: true,
		    cellsubmit: 'clientArray',
		    afterEditCell: function (id,name,val,iRow,iCol){
		      //if(name=='invdate') {
		       // jQuery("#"+iRow+"_invdate","#celltbl").datepicker({dateFormat:"yy-mm-dd"});
		      //}
		    },
		    afterSaveCell : function(rowid,name,val,iRow,iCol) {
		      if(name == 'amount') {
		        var taxval = jQuery("#celltbl").jqGrid('getCell',rowid,iCol+1);
		        jQuery("#celltbl").jqGrid('setRowData',rowid,{total:parseFloat(val)+parseFloat(taxval)});
		      }
		      if(name == 'tax') {
		        var amtval = jQuery("#celltbl").jqGrid('getCell',rowid,iCol-1);
		        jQuery("#celltbl").jqGrid('setRowData',rowid,{total:parseFloat(val)+parseFloat(amtval)});
		      }
		    }
			});
		jQuery("#list_d").jqGrid('navGrid','#gridpager_d',{edit:false,add:true,del:false});
		</script>
	</body>
</html>