<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">门店品类价格带计划</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>计划明细 (<a href = "{{ url_for('new') }}">添加新的计划行
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>门店ID</th>
               <th>部门</th>
               <th>类别</th>
               <th>价格带</th>
               <th>年</th>
               <th>月</th>
               <th>计划数量</th>
            </tr>
         </thead>
 
         <tbody>
            {% for plan_price_range in plan_price_ranges1 %}
               <tr>
                  <td>{{ plan_price_range.store }}</td>
                  <td>{{ plan_price_range.gender }}</td>
                  <td>{{ plan_price_range.pclass }}</td>
                  <td>{{ plan_price_range.price }}</td>
                  <td>{{ plan_price_range.year }}</td>
                  <td>{{ plan_price_range.month }}</td>
                  <td>{{ plan_price_range.unit }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>